<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>org.TC.CandidateiSignUp</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addotherdetails</td>
<td>swiggy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addcandidateScreening</td>
<td>swiggy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>selectoperation</td>
<td>swiggy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addcandidateonfield</td>
<td>swiggy </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logintodelivery</td>
<td>swiggy </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>swiggy </td>
</tr>
</table>
