<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>swiggy</td><td>CandidateiSignUp.addcandidateonfield()[pri:3, instance:org.TC.CandidateiSignUp@548b7f67]<br/>CandidateiSignUp.selectoperation()[pri:1, instance:org.TC.CandidateiSignUp@548b7f67]<br/>CandidateiSignUp.addcandidateScreening()[pri:2, instance:org.TC.CandidateiSignUp@548b7f67]<br/>CandidateiSignUp.addotherdetails()[pri:4, instance:org.TC.CandidateiSignUp@548b7f67]<br/></td></tr>
</table>
