<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="64a765">  <td>16/11/16 18:11:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CandidateiSignUp.addcandidateScreening()[pri:2, instance:org.TC.CandidateiSignUp@548b7f67]">addcandidateScreening</td> 
  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>16/11/16 18:11:59</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CandidateiSignUp.addcandidateonfield()[pri:3, instance:org.TC.CandidateiSignUp@548b7f67]">addcandidateonfield</td> 
  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>16/11/16 18:11:59</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CandidateiSignUp.addotherdetails()[pri:4, instance:org.TC.CandidateiSignUp@548b7f67]">addotherdetails</td> 
  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>16/11/16 18:11:55</td>   <td>-4093</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CandidateiSignUp.logintodelivery()[pri:0, instance:org.TC.CandidateiSignUp@548b7f67]">&gt;&gt;logintodelivery</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>16/11/16 18:11:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CandidateiSignUp.selectoperation()[pri:1, instance:org.TC.CandidateiSignUp@548b7f67]">selectoperation</td> 
  <td>main@1268650975</td>   <td></td> </tr>
</table>
